<%- include('part1') %>
<div class="title">Top Tech News</div>
<% for (var i=0;i<=9; i++) { %>
    <% if(news.articles[i].content!==null) { %>
    <div class="card">
        <img src="<%= news.articles[i].urlToImage %>" alt="news image" class="card-img-top">
        <div class="card-body">
            <p class="date"><%= news.articles[i].publishedAt %></p>
            <h5 class="card-title"><%= news.articles[i].title %></h5>
            <p class="card-text"><%= news.articles[i].content %></p>
            <a href="<%= news.articles[i].url %>" class="btn" target="blank">Go to full article</a>
        </div>
    </div>
    <% } %>
    <% } %>
<%- include('part2') %>